.side_bar_background {
  display: flex;
  position: fixed;
  flex-direction: column;
  background: #2e5d78;
  /* background: linear-gradient(
    0deg,
    rgba(233, 233, 233, 1) 88%,
    rgba(255, 0, 0, 0) 100%
  ); */
  height: 80vh;
  width: 18vw;
  padding: 3vw;
  margin: 0px;
  left: 0;
  overflow: auto;
}

.side-titles {
  display: flex;
  align-items: center;
  color: #dedede;
  font-size: 14px;
  transition: 600ms;
}

.side-titles p {
  padding-top: 1rem;
}
.side-titles svg {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .side_bar_background {
    word-break: break-all;
    font-size: 0.6em;
  }
}
