.signUp {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.signUp .container {
  display: flex;
  flex-direction: column;

  height: 500px;
  width: 600px;

  justify-content: center;
  align-items: center;

  background-color: #dfdede;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 100px;
}

.signUp .container .input-field {
  display: flex;
  flex-direction: column;

  margin: 15px;
}

.signUp .container .input-field label {
  color: #66747f;
  font-weight: 600;

  margin-bottom: 5px;
}

.signUp .container .input-field input {
  width: 450px;
  height: 35px;

  color: #333;

  background: #ffffff;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #2e5d78;
}

.signUp .alert {
  position: absolute;
  top: 1rem;
}

.signUp .alert h4 {
  font-size: 18px;
}

.signUp .alert p {
  font-size: 14px;
}
